<a href="https://colab.research.google.com/github/abhidhawale/MachineLearningProjects/blob/master/DecisionTreeClassifier_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Implementing Decision Tree Classifier algorithm on "Diabetes" dataset
Apart from the intial steps of importing and preprocessing the data, the following steps are executed:


1.  The target variable is **Outcome**.

2. Split the data into training and testing parts :  80% for training and 20% for testing.

3. Prediction species for feature matrix :
          [6,148,72,35,0,33.6,0.627,50]

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Dataset-35-diabetes.csv')
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

##Splitting data into traning and test sets

In [ ]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore', category=DeprecationWarning)

X = df.drop('Outcome', axis=1)
y = df['Outcome']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

Fitting model on training set

In [ ]:
from sklearn.tree import DecisionTreeClassifier
mod = DecisionTreeClassifier(random_state=0)

result = mod.fit(X_train, y_train)

##Predicting test set results

In [ ]:
pred = result.predict(X_test)
pred

array([1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
type(pred)

numpy.ndarray

###Checking Accuracy Score, Mean Absolute Error and the Classification Report

In [ ]:
from sklearn.metrics import mean_absolute_error, accuracy_score
mean_absolute_error(y_test, pred)

0.23376623376623376

In [ ]:
accuracy_score(y_test,pred)

0.7662337662337663

In [ ]:
from sklearn import metrics
print('\n Classification report:\n', metrics.classification_report(y_test, pred))

 Classification report:
               precision    recall  f1-score   support

           0       0.84      0.81      0.83       107
           1       0.61      0.66      0.63        47

    accuracy                           0.77       154
   macro avg       0.73      0.74      0.73       154
weighted avg       0.77      0.77      0.77       154

Predicting **Outcome** for the given input values

In [ ]:
new_pred = result.predict([[6,148,72,35,0,33.6,0.627,50]])
new_pred

array([1])