<a href="https://colab.research.google.com/github/abhidhawale/MachineLearningProjects/blob/master/DecisionTreeClassifier_FlowerSpecies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Implementing Decision Tree Classifier algorithm on "FlowerSpecies" dataset
Apart from the intial steps of importing and preprocessing the data, the following steps are executed:


1.  The target variable is **species**.

2. Split the data into training and testing parts :  80% for training and 20% for testing.

3. Prediction species for feature matrix :
          [5.1,3.5,1.4,0.2]

Importing libraries and the relevant dataset.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/dataset-29-1-Iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Converting categorical variables into numerical

In [ ]:
from sklearn.preprocessing import LabelEncoder
cat_num = ['species']
le = LabelEncoder()
for i in cat_num:
  df[i] = le.fit_transform(df[i])

df.tail()

     sepal_length  sepal_width  petal_length  petal_width  species
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

###Splitting the feature variables and the target variable into X and y dataframes
###Splitting these dataframes into training and test sets

In [ ]:
X = df.drop('species', axis=1)
y = df['species']

# seperating test and training sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=125)

###Importing and fitting model on the training set

In [ ]:
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
my_model = DecisionTreeClassifier(random_state=0)

result = my_model.fit(X_train, y_train)

###Predicting test set results

In [ ]:
prediction = result.predict(X_test)
prediction

array([0, 2, 2, 1, 1, 0, 0, 1, 2, 2, 0, 0, 2, 2, 1, 1, 1, 2, 1, 1, 2, 0,
       1, 0, 0, 1, 0, 1, 0, 0])

Predicting test value given in the problem statement.

In [ ]:
data = pd.DataFrame([5.1,3.5,1.4,0.2]).transpose()
prediction = result.predict(data)
prediction

array([0])

Since, prediction is '0' we know that the species is 'setosa'.